.card-grid {
  .card {
    &-pinned {
      .card-img {  
        aspect-ratio: 3/2;
      }
    }
    &-body { 
      display: flex;
      flex-direction: column; 
      .row {
        align-items: start;
      }    
      ul {        
        margin-top: auto;
        li {
          span {
            svg {
              --icon-size-2: 1.4rem;
              width: var(--icon-size-2);
              height: var(--icon-size-2);
            }
          }
          &:last-child {
            span {
              svg {
                --icon-size-3: 1.1rem;
                width: var(--icon-size-3);
                height: var(--icon-size-3);
              }
            }
          }
        }
      }
    }
  }
}
