.property-grid {
  .card {
    &-pinned {
      .card-img {  
        aspect-ratio: 3/2;
      }
    }
    &-body {
      position: relative;
      padding-top: 1.6rem;
      .row {
        &:nth-of-type(1){
          position: absolute;
          top: -2.7rem;
          left: 50%;
          transform: translateX(-50%);
          margin: 0;
          width: calc(100% - 6.5rem);
          .col-timer {
            width: 100%;        
            display: flex;
            flex-direction: row;            
            background-color: #f7faff;
            padding: .6rem; 
            border-radius: 5px;  
            box-shadow: 2px 2px 8px 0 rgba(0,0,0,0.11);                                 
            span {
              display: flex;
              flex-direction: column;
              flex: 1;
              text-align: center;              
              font-size: 1.1rem;
              line-height: 1.2;
              &:not(:last-child) {
                border-right: 1px solid hsl(0, 0%, 85%);
              }
              small {
                font-size: .7rem;
              }
            }
          }
        }      
        &:nth-of-type(2){
          align-items: center;
          .col-price {
            width: max-content;
            padding-right: 0;
            h3 {
              font-size: calc(1.4rem + .3vw);              
            }
          }
          .col-bid {
            width: max-content;
            margin-left: auto;
            //padding-left: 5px;    
            a {
              position: relative;
              margin-left: 3rem;              
              &:after {
                content: "";
                position: absolute;
                top: 0;
                left: -2.5rem;
                --icon-size: 46px;
                width: var(--icon-size);
                height: var(--icon-size);                
                background-image: url('data:image/svg+xml;utf8,<svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 34 50" style="enable-background:new 0 0 34 50;" xml:space="preserve" fill="hsl(210, 12%, 60%)"><g><path d="M10.7,39.9c0-1.4,0-2.9,0-4.3c0-0.7,0.2-0.8,0.9-0.9c1.1-0.1,2.1-0.6,2.6-1.7c0.7-1.6,1.4-3.1,2-4.7c0.2-0.5,0.4-1,0.9-1.2c0.5-0.3,0.6-0.2,0.6,0.3c0,1.6,0,3.2,0,4.8c0,0.2,0,0.3,0,0.5c0,0.4,0.2,0.5,0.6,0.5c2,0,4,0,5.9,0c0.3,0,0.7,0,1,0.1c1.6,0.3,2.2,2.1,1.1,3.4c-0.2,0.3-0.3,0.4-0.1,0.7c0.4,0.7,0.3,1.4-0.2,2.1c-0.3,0.3-0.4,0.6-0.2,1c0.4,0.9,0.1,2.2-0.8,2.6c-0.3,0.1-0.4,0.3-0.3,0.6c0.3,1.4-0.4,2.5-1.9,2.6c-2,0.1-4,0.2-5.9-0.1c-0.8-0.1-1.7-0.4-2.5-0.7c-1-0.3-1.9-0.5-2.9-0.5c-0.7,0-0.8-0.1-0.8-0.8C10.7,42.7,10.7,41.3,10.7,39.9z"/><path d="M20.3,47c0.2,0,0.5,0,0.7,0c0.3,0,0.8-0.2,1,0.2c0.2,0.5,0.1,1,0,1.5c-0.1,0.2-0.3,0.3-0.5,0.3c-0.8,0-1.6,0-2.3,0c-0.4,0-0.7-0.3-0.7-0.7c-0.1-1.2-0.1-1.3,1.2-1.3C19.8,47,20,47,20.3,47z"/><path d="M10,35.5c0-0.6-0.2-0.8-0.8-0.8c-2.4,0-4.7,0-7.1,0c-0.4,0-0.7,0.1-0.8,0.6c0,2.9,0,5.8,0,8.7c0,0.9,0.1,1,0.7,1c2.5,0,4.9,0,7.4,0c0.5,0,0.7-0.3,0.7-0.7C10,41.4,10,38.4,10,35.5z M7.2,38.3c-0.6,0-1.1-0.4-1.1-1.1c0-0.6,0.5-1.1,1-1.1c0.6,0,1.1,0.5,1.1,1.1C8.2,37.8,7.7,38.3,7.2,38.3z"/><g><path d="M18.3,10.6c0,0.5,0.5,0.8,1.3,1V9.5C18.8,9.6,18.3,10,18.3,10.6z"/><path d="M21.3,14.9v2.4c0.9-0.2,1.4-0.7,1.4-1.3C22.6,15.5,22.1,15.2,21.3,14.9z"/><path d="M30.2,6C27.5,2.5,23.9,0.8,19.4,1c-3.1,0.2-5.7,1.3-7.9,3.5C9,7,7.7,10,7.8,13.6c0,3.4,1.2,6.2,3.5,8.6c1.8,1.9,4,3,6.6,3.5c0.4,0.1,0.6,0.3,0.6,0.7c0,0.9,0,1.8,0,2.7c0,0,0,0,0,0c0,0.9,0,1.8,0,2.7c0,0.4,0.2,0.6,0.6,0.6c0.8,0,1.5,0,2.3,0c0.7,0,0.8,0,0.8-0.8c0-1.7,0-3.4,0-5.1c0-0.5,0.2-0.7,0.7-0.8c1.3-0.2,2.5-0.7,3.6-1.3c3.9-2.3,6.1-5.7,6.4-10.2C32.9,11.2,32.1,8.4,30.2,6z M21.3,19.7V21h0c0,0.2-0.1,0.3-0.3,0.3h-1.1c-0.2,0-0.3-0.1-0.3-0.3v-1.4c-1.9-0.2-3.3-0.9-4.3-1.9l0,0c-0.1-0.1-0.1-0.1-0.1-0.2c0-0.1,0-0.1,0.1-0.2l0,0l1-1.5l0,0c0-0.1,0.1-0.2,0.2-0.2c0.1,0,0.1,0,0.2,0.1l0,0c0,0,0,0,0,0c0,0,0,0,0,0c0.7,0.7,1.7,1.3,2.9,1.5v-2.8c-1.9-0.5-3.9-1.2-3.9-3.6c0-1.8,1.5-3.4,3.9-3.7V5.8c0-0.2,0.1-0.3,0.3-0.3H21c0.2,0,0.3,0.1,0.3,0.3h0v1.4C22.7,7.4,24,7.9,25,8.8C25,8.9,25.1,9,25.1,9c0,0.1,0,0.1-0.1,0.2l0,0L24,10.7l0,0c-0.1,0.1-0.1,0.1-0.2,0.1c-0.1,0-0.1,0-0.2-0.1l0,0c-0.7-0.6-1.5-1-2.3-1.2v2.5c1.9,0.5,4,1.2,4,3.7C25.3,17.8,24,19.4,21.3,19.7z"/></g></g></svg>');
                background-size: contain;
                background-repeat: no-repeat;
                box-sizing: border-box;
                transition: all 150ms ease-out;                
              }
              &:hover {
                &:after {
                  top: -3px;
                }
              }
            }
          }
        }        
      }
      ul li {
        span {
          svg {
            --icon-size-2: 1.4rem;
            width: var(--icon-size-2);
            height: var(--icon-size-2);
          }
        }
        &:last-child {
          span {
            svg {
              --icon-size-3: 1.1rem;
              width: var(--icon-size-3);
              height: var(--icon-size-3);
            }
          }
        }
      }
    }
  }
}
