.card-grid .card-pinned .card-img {
  aspect-ratio: 3/2;
}
.card-grid .card-body {
  display: flex;
  flex-direction: column;
}
.card-grid .card-body .row {
  align-items: start;
}
.card-grid .card-body ul {
  margin-top: auto;
}
.card-grid .card-body ul li span svg {
  --icon-size-2: 1.4rem;
  width: var(--icon-size-2);
  height: var(--icon-size-2);
}
.card-grid .card-body ul li:last-child span svg {
  --icon-size-3: 1.1rem;
  width: var(--icon-size-3);
  height: var(--icon-size-3);
}